.testTimerContainer {
  width: max(220px, 220px);
  padding: 20px 20px;
  border: 1px solid white;
  border-radius: 10px;
  position: fixed;
  top: 150px;
  left: 50px;
  color: white;
  transition: border 1s, color 1s;
}
.testTimerTime {
  font-size: var(--r22);
  line-height: var(--r22);
  color: inherit;
  font-family: var(--mainFamilyFont);
}
.testTimerLabel {
  position: absolute;
  top: 0px;
  left: 5px;
  transform: translateY(-50%);
  font-size: var(--r12);
  line-height: var(--r12);
  color: inherit;
  width: max-content;
  max-width: max-content;
  max-height: max-content;
  padding: 2.5px 10px;
  background-color: black;
}
